/* INTRO CAROUSEL PRELOADER SETTINGS */
.layer-intro .carousel-indicators {
  display:none;
}
.layer-intro .onload-class .carousel-indicators {
  display:block;
}
.display-none {
  display:none !important;
}
.wrapper-preloader {
  position:absolute;
  left:0;
  right:0;
  top:50%;
  margin-top:-41px;
}
#preloader {
  font-size: 24px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
/* ANIMATION BASE SETTINGS */
.item .animation {
  visibility:hidden;
}
.onload-class .item-theme-first.active .animation {
  visibility:visible;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.item-theme.active .animation {
  visibility:visible;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* ============================= DELAY ============================ */
.item-theme .an-delay-01,
.onload-class .item-theme-first.active .animation.an-delay-01 {
    -webkit-animation-delay: 0.1s; /* Chrome, Safari, Opera */
    animation-delay: 0.1s;
}

.item-theme .an-delay-02,
.onload-class .item-theme-first.active .animation.an-delay-02 {
    -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
    animation-delay: 0.2s;
}
.item-theme .an-delay-03,
.onload-class .item-theme-first.active .animation.an-delay-03 {
    -webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
    animation-delay: 0.3s;
}
.item-theme .an-delay-04,
.onload-class .item-theme-first.active .animation.an-delay-04 {
    -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
    animation-delay: 0.4s;
}
.item-theme .an-delay-05,
.onload-class .item-theme-first.active .animation.an-delay-05 {
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}
.item-theme .an-delay-06,
.onload-class .item-theme-first.active .animation.an-delay-06 {
    -webkit-animation-delay: 0.6s; /* Chrome, Safari, Opera */
    animation-delay: 0.6s;
}
.item-theme .an-delay-07,
.onload-class .item-theme-first.active .animation.an-delay-07 {
    -webkit-animation-delay: 0.7s; /* Chrome, Safari, Opera */
    animation-delay: 0.7s;
}
.item-theme .an-delay-08,
.onload-class .item-theme-first.active .animation.an-delay-08 {
    -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
    animation-delay: 0.8s;
}
.item-theme .an-delay-09,
.onload-class .item-theme-first.active .animation.an-delay-09 {
    -webkit-animation-delay: 0.9s; /* Chrome, Safari, Opera */
    animation-delay: 0.9s;
}
.item-theme .an-delay-10,
.onload-class .item-theme-first.active .animation.an-delay-10 {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}
.item-theme .an-delay-11,
.onload-class .item-theme-first.active .animation.an-delay-11 {
    -webkit-animation-delay: 1.1s; /* Chrome, Safari, Opera */
    animation-delay: 1.1s;
}
.item-theme .an-delay-12,
.onload-class .item-theme-first.active .animation.an-delay-12 {
    -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
    animation-delay: 1.2s;
}
.item-theme .an-delay-13,
.onload-class .item-theme-first.active .animation.an-delay-13 {
    -webkit-animation-delay: 1.3s; /* Chrome, Safari, Opera */
    animation-delay: 1.3s;
}
.item-theme .an-delay-14,
.onload-class .item-theme-first.active .animation.an-delay-14 {
    -webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
    animation-delay: 1.4s;
}
.item-theme .an-delay-15,
.onload-class .item-theme-first.active .animation.an-delay-15 {
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}
.item-theme .an-delay-16,
.onload-class .item-theme-first.active .animation.an-delay-16 {
    -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
    animation-delay: 1.6s;
}
.item-theme .an-delay-17,
.onload-class .item-theme-first.active .animation.an-delay-17 {
    -webkit-animation-delay: 1.7s; /* Chrome, Safari, Opera */
    animation-delay: 1.7s;
}
.item-theme .an-delay-18,
.onload-class .item-theme-first.active .animation.an-delay-18 {
    -webkit-animation-delay: 1.8s; /* Chrome, Safari, Opera */
    animation-delay: 1.8s;
}
.item-theme .an-delay-19,
.onload-class .item-theme-first.active .animation.an-delay-19 {
    -webkit-animation-delay: 1.9s; /* Chrome, Safari, Opera */
    animation-delay: 1.9s;
}
.item-theme .an-delay-20,
.onload-class .item-theme-first.active .animation.an-delay-20 {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}
/* ============================= DURATION ============================ */
.item-theme .an-duration-01,
.onload-class .item-theme-first.active .animation.an-duration-01 {
    -webkit-animation-duration: 0.1s; /* Chrome, Safari, Opera */
    animation-duration: 0.1s;
}
.item-theme .an-duration-02,
.onload-class .item-theme-first.active .animation.an-duration-02 {
    -webkit-animation-duration: 0.2s; /* Chrome, Safari, Opera */
    animation-duration: 0.2s;
}
.item-theme .an-duration-03,
.onload-class .item-theme-first.active .animation.an-duration-03 {
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-duration: 0.3s;
}
.item-theme .an-duration-04,
.onload-class .item-theme-first.active .animation.an-duration-04 {
    -webkit-animation-duration: 0.4s; /* Chrome, Safari, Opera */
    animation-duration: 0.4s;
}
.item-theme .an-duration-05,
.onload-class .item-theme-first.active .animation.an-duration-05 {
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-duration: 0.5s;
}
.item-theme .an-duration-06,
.onload-class .item-theme-first.active .animation.an-duration-06 {
    -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
    animation-duration: 0.6s;
}
.item-theme .an-duration-07,
.onload-class .item-theme-first.active .animation.an-duration-07 {
    -webkit-animation-duration: 0.7s; /* Chrome, Safari, Opera */
    animation-duration: 0.7s;
}
.item-theme .an-duration-08,
.onload-class .item-theme-first.active .animation.an-duration-08 {
    -webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
    animation-duration: 0.8s;
}
.item-theme .an-duration-09,
.onload-class .item-theme-first.active .animation.an-duration-09 {
    -webkit-animation-duration: 0.9s; /* Chrome, Safari, Opera */
    animation-duration: 0.9s;
}
.item-theme .an-duration-10,
.onload-class .item-theme-first.active .animation.an-duration-10 {
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
}
/* ============================= ANIMATIONS ============================ */
@-webkit-keyframes fadeInSlider {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlider {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.item-theme.active .animation.fadeInSlider,
.onload-class .item-theme-first.active .animation.fadeInSlider {
  -webkit-animation-name: fadeInSlider;
  animation-name: fadeInSlider;
}
@-webkit-keyframes fadeInLeftSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.item-theme.active .animation.fadeInLeftSlider,
.onload-class .item-theme-first.active .animation.fadeInLeftSlider {
  -webkit-animation-name: fadeInLeftSlider;
  animation-name: fadeInLeftSlider;
}
@-webkit-keyframes fadeInLeftBigSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBigSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.item-theme.active .animation.fadeInLeftBigSlider,
.onload-class .item-theme-first.active .animation.fadeInLeftBigSlider {
  -webkit-animation-name: fadeInLeftBigSlider;
  animation-name: fadeInLeftBigSlider;
}
@-webkit-keyframes fadeInRightSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.item-theme.active .animation.fadeInRightSlider,
.onload-class .item-theme-first.active .animation.fadeInRightSlider {
  -webkit-animation-name: fadeInRightSlider;
  animation-name: fadeInRightSlider;
}
@-webkit-keyframes fadeInRightBigSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBigSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.item-theme.active .animation.fadeInRightBigSlider,
.onload-class .item-theme-first.active .animation.fadeInRightBigSlider {
  -webkit-animation-name: fadeInRightBigSlider;
  animation-name: fadeInRightBigSlider;
}
@-webkit-keyframes fadeInUpSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.item-theme.active .animation.fadeInUpSlider,
.onload-class .item-theme-first.active .animation.fadeInUpSlider {
  -webkit-animation-name: fadeInUpSlider;
  animation-name: fadeInUpSlider;
}
@-webkit-keyframes fadeInUpBigSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBigSlider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.item-theme.active .animation.fadeInUpBigSlider,
.onload-class .item-theme-first.active .animation.fadeInUpBigSlider {
  -webkit-animation-name: fadeInUpBigSlider;
  animation-name: fadeInUpBigSlider;
}