html, body {
  height: 100%;
}
@media (min-width: 768px) {
  #nav.navbar .navbar-brand-photographer > img {
    max-width: 66px;
    height: auto;
    padding-top: 12px;
  }
  #nav.navbar.shrinked .navbar-brand-photographer > img {
    max-width: 52px;
    height: auto;
    padding-top: 2px;
  }
}
.intro-photographer {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #efefef;
}
.layer-intro-photographer {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.64);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
  width: 100%;
  height: 100%;
}
.wrapper-table {
  display: table;
  width: 100%;
  height: 100%;
}
.wrapper-table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.wrapper-title {
  border: solid 2px white;
  width: 51%;
  padding: 2.2% 1%;
  margin: 0 auto;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 66px;
}
@media (max-width: 768px) {
  .wrapper-title {
    width: 80%;
  }
}
.footer-social {
  width: 100%;
  height: auto;
  background-color: red;
  border-top: solid 1px #191919;
}
.footer-social a {
  display: block;
  height: auto;
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.footer-social a {
  background-color: #000000;
  transition: background-color 0.16s ease-in-out;
}
.footer-social a+a {
  background-color: #000000;
  border-left: 1px solid #191919;
}
.footer-social a .fa {
  font-size: 60px;
  color: white;
}
.footer-social .facebook-photographer:hover {
  background-color: #3b5998;
}
.footer-social .twitter-photographer:hover {
  background-color: #00B6F1;
}
